// Tablet and Smaller
@media (max-width: 800px){
  #header{
    &-home{
      height: 50vh;

      .header-content{
        height: 50vh;
      }
    }
  }
}

#about-d{
  img{
    width: 80px;
  }
}

// SmartPhones
@media (max-width: 500px){

  // Navbar
  #main-nav{
    flex-direction: column;
    align-items: center;
    
    li{
      padding: 1rem;
    }
  }


// Logo
#logo{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// Header
#header{
  &-home{
    height: 20vh;

    & h1{
      display: none;
    }
    & .btn{
      display: none
    }
  }
}
#header-inner{
  height: 20vh;
  background-position: 20% 49%;
}

// Home
#home{
  &-a{
    .specials{
      grid-template-columns: 1fr;
    }
  }

  &-b{
    .status{
      grid-template-columns: 1fr;
    }
  }

  &-c{
    .process{
      grid-template-columns: 1fr;
    }
  }
}

// About
#about{
  &-a{
    grid-template-columns: 1fr;

    img{
      width: 100%;
    }
    .about-info{
      grid-column: 1;

    }
  }

  &-b{
    .awards{
      grid-template-columns: 1fr;
    }
  }

  &-d{
    display: none;
  }

  &-e{
    .testimonials{
      grid-template-columns: 1fr;
    }
  }
}

// Work
#work{
  &-a{
    .items{
      grid-template-columns: 1fr;
    }
  }
}

// Contact
#contact{
  &-a{
    .form-content{
      grid-template-areas:
      'name name'
      'email email'
      'subject subject'
      'phone phone'
      'message message';

      .message{
        margin-bottom: 0;
      }
    }
  }
  &-b{
    .contact-info{
      grid-template-columns: 1fr;

      div{
        border-bottom: 1px solid #555;
        padding: 1rem;
        margin-bottom: 1rem;

        &:last-child{
          border-bottom: none;
          padding-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  &-c{
    h1{
      font-size: 2rem;
    }
  }
}

// Footer
#main-footer{

  .footer-content{
    flex-direction: column;

    .social{
      margin-top: 0.75rem;
    }
  }
}


}